@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1;
    src: url(fonts/FuturaCyrillicLight.ttf);
}

@font-face {
    font-family: font2;
    src: url(fonts/FuturaCyrillicMedium.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: font1, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.navigation {
  background-color: white;
  height: 70px;
}

.nav-links {
    float: right;
    padding-top: 24px;
    padding-right: 40px;
}

.nav-links a {
    margin: 0 10px;
}

.logo {
    float: left;
    padding-top: 18px;
    padding-left: 40px;
    font-size: 25px;
}

.nav-links a {
	color: black;
	font-size: 15px;
	transition: color 0.3s ease, transform 0.3s ease;
	display: inline-block;
}

.nav-links a:hover {
	color: red;
	transform: scale(1.15);
}

.hero-gif img {
    max-width: 800px;
    max-height: 800px;
    float: right;

      mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 30%,
    black 100%);
}

.hero-text h1,
.hero-text h2 {
  display: block;
  font-family: font1;
  font-weight: lighter;
}

.hero-text h1 {
    margin-top: 110px;
    margin-left: 150px;
    font-size: 100px;
}

.hero-text h2 {
    margin-left: 157px;
}

.banner {
    display:flex;
    justify-content: space-between;
}

.about {
    background-color: black;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 130px;
}

.about h3 {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: lighter;
}

.about p {
    max-width: 700px;
    margin: 0 auto 18px;
    font-size: 20px;
    text-align: justify;
}

.prelaz1 {
  height: 300px;

  background-image: url(images/prelaz-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prelaz1 h4 {
  color: white;
  font-family: font2;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: lighter;
  mix-blend-mode: difference;
}

.slider {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

.track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.track img {
  height: 500px;
  width: auto;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
  
}

.porsche img {
  width: 80vw;    
  height: auto;  
  display: block;
  margin: 0 auto; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.prelaz2 {
  height: 300px;

  background-image: url(images/3935.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prelaz2 h5 {
  color: white;
  font-family: font2;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: lighter;
  mix-blend-mode: difference;
}

.thumbovi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thumb img {
  width: 100%;
  height: auto;
  display: block;
}

.forma {
	display: flex;
	flex-direction: column;
	align-items: center;    
	min-height: 100vh;
	text-align: center;
    background-image: url(images/formabg.jpg);
    background-size: cover;
}

.forma h1 {
	margin-bottom: 40px;
    margin-top: 80px;
	font-family: font1;
    font-weight: lighter;
    font-size: 40px;
}

.forma form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

label, input, select, textarea {
	display: block;
	text-align: center;

}

input, select {
	width: 60%;
	padding: 10px;
    font-size: 15px;
}

textarea {
	width: 60%;
	padding: 10px;
    font-size: 15px;
	box-sizing: border-box;
	resize: none;
	margin-top: 50px;
}

input[type="submit"] {
	margin-top: 50px;
    margin-bottom: 80px;
	width: 20%;
	padding: 10px 30px;
	border: 1px solid white;
	background-color: white;
	color: black;
	transition: 0.5s;
}

input[type="submit"]:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

label {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 20px;
}

footer {
    background-color: white;
	color: black;
	text-align: center;
	padding: 20px;
}

